body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f4f4f4;
}

label {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

/* Add styles for all inputs */
input[type="number"],
input[type="email"],
input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  height: 32px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  appearance: none;
}

/* custom styles for the date input */
input[type="date"] {
  appearance: none;
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

input[type="date"]:focus {
  outline: none;
  border-color: #5c67f2;
}

/* Date Placeholder style customization */
input[type="date"]::placeholder {
  color: gray;
  font-style: italic;
}
